<html>
<head>
  <title>
    Final Project Cognitive Computing
  </title>
</head>
<body>

<br><br><br>
<h3> Please select the model type you want to use</h3>
<br><br><br>
<form action="/modelselection" method=post>
  <select name="selectmodel" >
  <option value="single-support-factor"> Single Support Factor</option>
  <option value="two-supporting-factors"> Two Support Factor</option>
  <option value="three-supporting-factors"> Three Support Factor</option>
  <option value="two-arg-relations"> Two Arg Relations</option>
  <option value="yes-no-questions"> Yes No Questions</option>
  <option value="simple-negation"> Simple Negation</option>
  <option value="basic-conference"> Basic Conference</option>
  <option value="agent-motivation"> Agent Motivation</option>
  <option value="conjunction"> Conjunction</option>
  <option value="Three-arg-relation">Three Argument Relation </option>
  </select>
<br>
<br>
<input type="submit"/>
</form>

<br><br><br>

<h3>Want to check out how we build these models?? Click on the respective links:</h3>
<br><br>

<a href=>Single Support Factor</a>
<br><br><a href="/FinalProjectCognitive-single-supporting-fact">Single Support Factor</a>
<br><br><a href="/FinalProjectCognitive-qa2_two-supporting-facts">Two Supporting Factor</a>
<br><br><a href="/FinalProjectCognitive-three-supporting-fact">Three Supporting Factor</a>
<br><br><a href="/FinalProjectCognitive-two-arg-relations">Two arguments relations </a>
<br><br><a href="/FinalProjectCognitive-three-arg-relations">Three arguments relations</a>
<br><br><a href="/FinalProjectCognitive-qa6_yes-no-questions">Yes No question answering</a>
<br><br><a href="/FinalProjectCognitive-qa11_basic-coreference_test">Basic Conference</a>

<br><br><a href="/FinalProjectCognitive-simple-negation">Simple Negation</a>
<br><br>




</body>
</html>
